/* ================= FOOTER ================= */

.custom-footer {
  background-color: #000080;
  padding: 80px 20px 40px;
  font-family: Arial, sans-serif;
  color: white;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  gap: 30px;
}

.footer-column {
  flex: 1;
  min-width: 200px;
}

.footer-column h4 {
  font-size: 16px;
  margin-bottom: 15px;
}

.footer-column ul {
  list-style: none;
}

.footer-column li {
  margin-bottom: 8px;
}

.footer-column a {
  color: white;
  font-size: 14px;
  text-decoration: none;
}

.footer-column a:hover {
  text-decoration: underline;
}

.social-icons a {
  margin-right: 10px;
  font-size: 18px;
  background: #fff;
  color: #000080;
  padding: 8px;
  border-radius: 50%;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  font-size: 13px;
  border-top: 1px solid #ccc;
  padding-top: 15px;
}

/* MOBILE */
@media (max-width: 768px) {

  .footer-container {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .footer-column {
    width: 100%;
  }

  .social-icons {
    margin-top: 10px;
  }
}